:root {
    --bckgd-clr-main: #f1f1f1;
    --bckgd-clr-second: #EF0107;
    --bckgd-clr-third: #ffffff;
    --bckgd-clr-fourth: #063672;
    --text-clr-main: #222;
    --text-clr-second: #FFFFFF;
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

header {
    background-color: var(--bckgd-clr-second);
    padding: 15px;
    border-bottom: 30px solid var(--bckgd-clr-fourth);
}

header a {
    text-decoration: none;
    color: var(--text-clr-second);
    margin-right: 20px;
}

@media only screen and (min-width: 800px) {
    header {
        height: 100px;
        border-bottom: 70px solid var(--bckgd-clr-fourth);
    }
    header a {
        text-decoration: none;
        color: var(--text-clr-second);
        margin-right: 20px;
        font-size: 30px;
        line-height: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        margin: 0 auto;
        width: 1200px;
    }
}

.container {
    min-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 100px;
    padding: 15px;
    background-color: var(--bckgd-clr-main);
}

.box-head {
    border: 5px solid var(--bckgd-clr-second);
    background-color: var(--bckgd-clr-second);
    color: var(--text-clr-second);
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
    margin-top: 5px
}

.box-main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: var(--bckgd-clr-third);
    border-top: 3px solid var(--bckgd-clr-second);
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    text-decoration: none;
    color: var(--text-clr-main);
}

.box-main:hover {
    opacity: 0.8;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.box-main img {
    height: 150px;
}

.box-left {

}
.box-right {
    padding: 20px;
}

footer {
    list-style-type: none;
    position: relative;
    height: 20px;
    margin-top: -20px;
    background-color: var(--bckgd-clr-second);
    color: var(--text-clr-second);
    padding: 15px;
}