:root {
    --bkg-clr-title: rgba(1,1,1, 0.5);
    --bkg-clr-one: #fff;
    --bkg-clr-two: #C5AE91;
    --bkg-clr-modal: rgba(1,1,1, 0.9);
    --text-clr-title: #fff;
    --text-clr-one: #d8d9da;
    --text-clr-two: #333333;
    --btn-clr-main: #99a1af;
}
* {
    font-family: 'Raleway', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        rgba(1, 1, 1, 0.5), 
        rgba(1, 1, 1, 0.1)
        ), 
        url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    "header"
    "main";
}
@media screen and (min-width: 770px) {
    .grid {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-row: 1fr;
        grid-template-areas: 
        "header main";
    }
}

/*Header*/
.header {
    background-color:var(--bkg-clr-title);
    padding: 10px;
    min-height: 35px;
    grid-area: header;
}
.header i {
    float: right;
    color: var(--text-clr-title);
}
.header a:not(:first-child) {
    display: none;
    color: var(--text-clr-title);
    text-decoration: none;
    margin-top: 7%;
}
.header.change a {
    display: block;
    text-align: right;
}

.profile {
    display: none;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 45px;
}
.profile img {
    align-items: 0 auto;
    width: 150px;
    border-radius: 80%;
}
.profile h1 {
    color: var(--text-clr-title);
    text-decoration: none;
    font-size: 22px;
    margin-top: 30px;
}
.profile h2 {
    color: var(--text-clr-one);
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}
.profile h3 {
    color: var(--text-clr-one);
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
@media screen and (min-width: 770px) {
    .header {
        display: block;
        background-color:var(--bkg-clr-title);
        margin-top: 0 auto;
        padding: 35px;
        min-height: 100vh;
        width: 70%;
    }
    .header .fas {
        display: none;
    }
    .header a:not(:first-child) {
        display: block;
        color: var(--text-clr-title);
        text-decoration: none;
        margin-top: 7%;
        line-height: 35px;
        font-size: 20px;
    }
    .header a:hover {
        color: var(--text-clr-one);
    }
    .header.change a {
        display: flex;
        flex-wrap: wrap;
    }
    .profile {
        display: grid;
    }
}
@media screen and (min-width: 1060px) {
    .profile h1 {
        font-size: 32px;
    }
    .profile h2 {
        font-size: 20px;
    }
}
/*Main Body*/
main {
    padding: 10%;
    grid-area: main;
}
main h1 {
    color: var(--text-clr-title);
    font-size: 32px;
}
.main-intro {
    display: none;
}
main p {
    font-size: 14px;
    color: var(--text-clr-one);
}
main a {
    display: block;
    margin-top: 40px;
    padding: 10px;
    background-color: rgba(1, 1, 1, 0.2);
    border: 1px solid #fff;
    box-shadow: 1px 1px #999;;
    border-radius: 6px;
    color: var(--text-clr-title);
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    width: 55px;
    cursor: pointer;
}
main a:hover{
    width: 150px;
    font-size: 32px;
    transition: width 0.5s, font-size 0.5s;
}
.links-main {
    display: block;
    margin-top: 20%;
    color: var(--text-clr-title);
    text-align: left;
    font-size: 20px;
}
.links-main i {
    margin-right: 5%;
  }
@media screen and (min-width: 500px) {
    main {
        padding: 15%;
    }
    main h1 {
        font-size: 52px;
    }
    main p {
        font-size: 24px;
    }
    main a {
        font-size: 28px;
        width: 150px;
    }
    .links-main {
        font-size: 32px;
        display: block;
    }
}

@media screen and (min-width: 770px) {
    main {
        padding-top: 25%;
        padding-left: 10%;
    }
    main h1 {
        font-size: 40px;
    }
    .main-name {
        display: none;
    }
    .main-intro {
        display: block;
    }
    main h2 {
        font-size: 24px;
    }
    main p {
        font-size: 24px;
    }
    main a {
        font-size: 28px;
        width: 150px;
    }
    .links-main i {
        display: none;
    }
}

/*Portfolio Modal*/
.portfolio {
    display: none; /*Change this back to none*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.portfolio-content {
    background-color: var(--bkg-clr-modal);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}
.portClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.portClose:hover,.portClose:focus {
    color: var(--bkg-clr-two);
    text-decoration: none;
    cursor: pointer;
}
.portfolio h1 {
    font-size: 32px;
    font-weight: 800;
    color: var(--text-clr-one);
    line-height: 80px;
}
.unit {
    padding: 15px;
    border-bottom: 2px solid var(--text-clr-one);
}
.portfolio-title {
    color: var(--text-clr-one);
    text-decoration: none;
    font-weight: 600;
    line-height: 40px;
}
.portfolio p {
    word-spacing: 10px;
    color: var(--text-clr-one);
}
.portfolio img {
    max-width: 90%;
    margin-top: 1rem;
    border: 1px solid var(--text-clr-one);
    border-radius: 6px;
}
.portfolio img:hover {
    opacity: 0.4;
    transition: 0.5s;
}
.portBtn {
    margin-top: 1rem;
    padding: 4px;
    background-color: var(--btn-clr-main);
    border: 1px solid var(--text-clr-two);
    border-radius: 6px;
}
.portBtn:hover {
    background-color: var(--text-clr-two);
    color: var(--text-clr-title);
    cursor: pointer;
}
@media screen and (min-width: 1000px) {
    .portfolio-content {
        display: flex;
        flex-wrap: wrap;    
    }
    .portClose {
        margin: 0 auto;
    }
    .portfolio h1 {
        width: 100%;
        text-align: center;
    }
    .unit {
        max-width: 45%;
        margin: 0 auto;
    }  
}
/*CV Modal*/
.cv {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.cv-content {
    background-color: var(--bkg-clr-modal);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    color: var(--text-clr-one);
}
.cvClose {
    color: var(--text-clr-one);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cvClose:hover,.cvClose:focus {
    color: var(--btn-clr-main);
    text-decoration: none;
    cursor: pointer;
}
.cv button {
    background-color: var(--btn-clr-main);
    color: var(--text-clr-two);
    font-weight: 600;
    padding: 6px;
    border: 1px solid var(--text-clr-two);
    border-radius: 6px;
}
.cv button:hover {
    background-color: var(--text-clr-two);
    color: var(--text-clr-one);
    cursor: pointer;
}

/*Contact Modal*/
.contact {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.contact-content {
    background-color:var(--bkg-clr-modal);
    border-radius: 10px;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: var(--text-clr-one);
}
@media screen and (min-width: 768px) {
    .contact-content {
        background-color:var(--bkg-clr-modal);
        border-radius: 10px;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }
}
.conClose {
    color: var(--text-clr-title);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.conClose:hover,.conClose:focus {
    color: var(--text-clr-two);
    text-decoration: none;
    cursor: pointer;
}
.contact p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px 5px;
}
.contact a {
    font-size: 16px;
    margin: 10px 15px 15px 5px;
}
.contact input[type='text'] {
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
.contact textarea {
    width: 80%;
    height: 75px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    resize: none;
}
.contact button {
    width: 60px;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    background-color: var(--btn-clr-main);
}
.contact button:hover {
    background-color: var(--text-clr-two);
    color: var(--text-clr-one);
    cursor: pointer;
}
.insert {
    color: var(--text-clr-title);
}
@media screen and (min-width: 768px) {
    .contact p {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .contact input[type='text'] {
        min-width: 50%;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: none;
    }
    .contact textarea {
        min-width: 75%;
        height: 150px;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        resize: none;
    }
    .contact input[type='submit'] {
        width: 150px;
        padding: 10px;
        margin-top: 15px;
        border-radius: 10px;
        border: none;
    }
    .contact input[type='submit']:hover {
        background-color: var(--bkg-clr-title);
    }
}

/*Resources Modal*/
.resources {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.resources-content {
    background-color: var(--bkg-clr-modal);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: var(--text-clr-one);
}
.resourcesClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.resourcesClose:hover,.resourcesClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.resources h2 {
    margin: 20px 0 5px 0;
}
.resources p {

}
.resources button {
    color: #111;
    background-color: var(--btn-clr-main);
    border: none;
    border-radius: 5px;
    padding: 6px;
}
.resources button:hover {
    color: var(--text-clr-one);
    background-color: var(--text-clr-two);
}