:root {
    --bkg-clr-title: #00dddd;
    --bkg-clr-main: #fff;
    --text-clr-title: #fff;
    --btn-clr-main: #99a1af;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100%;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}






/*Header*/
.header {
    background-color:rgba(0, 221, 221, 0.3);
    padding: 15px;
    height: 20px;
}
.header a:not(:first-child) {
display: none;
color: var(--text-clr-title);
text-decoration: none;
font-size: 18px;
font-weight: 500;

}
.header i {
    float: right;
    color: var(--text-clr-title);
}

.header.change a {
    display: block;
}

@media screen and (min-width: 768px) {
    header {
        display: none;
    }
}











/*Sidebar*/
.sidebar {
    display: none;
    background-color:rgba(0, 221, 221, 0.3);
    padding: 15px;
    height: 100vh;
    width: 20%;
}
@media screen and (min-width: 768px) {
    .sidebar {
        display: block;
    }
}