<!--ADMIN PAGE-->
<%- include('partials/header') %> 

<div class="card mt-4">
    <div class="card-header">
        <h4>Projects</h4>
    </div>
    <div class="card-body">
        <p><a href="">Create new project</a></p>
        <p><a href="/admin/edit-project">Edit project</a></p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h4>Blog Posts</h4>
    </div>
    <div class="card-body">
        <p><a href="">Create new blog post</a></p>
        <p><a href="/admin/edit-blog">Edit blog</a></p>
    </div>
</div>

<%- include('partials/footer') %> 