:root {
    --bkg-clr: rgb(250, 250, 250);
    --trim-clr: rgb(119, 82, 183);
    --btn-hover-clr: rgb(116, 91, 205);
    --txt-hover-clr: rgb(200, 200, 180)
}

*, *::after, *::before {
 margin: 0;
 padding: 0;   
}

.height-container {
    min-height: 100vh;
    margin-top: 3rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-container {
    gap: 1rem;
}

.btn-fp {
    width: 200px;
    background-color: var(--trim-clr);
    color: white;
}   

.btn-fp:hover {
    transition: 500ms;
    background-color: var(--btn-hover-clr);
    color: var(--txt-hover-clr);
}

.btn-sm {
    width: 100px;
    background-color: var(--trim-clr);
    color: white;
}   

.btn-sm:hover {
    transition: 500ms;
    background-color: var(--btn-hover-clr);
    color: var(--txt-hover-clr);
}

/*NAV*/
.navbar {
    padding: .5rem;
    background-color: var(--trim-clr);
}
.navbar a {
    color: white;
}

/*MAIN BODY*/
/*FIRST SECTION*/

.profile-container {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin: 1rem;
}

.profile-img {
    height: 150px;
    width: 150px;
    background-image: url('/assets/profile.jpg');
    background-size: 200px;
    background-position:top right 30%;
    border-radius: 50%;
    box-shadow: 0 0 20px 1px grey;
}

.name-container {
    color: var(--trim-clr);

}

.btn-container {
    margin: 2rem;
    gap: 1rem;
}

/*SECOND SECTION*/
.lang-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--trim-clr);
    border-radius: 30px;
    box-shadow: 0 0 10px 3px var(--trim-clr);
}

.lang-card {
    width: 7rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgb(198, 198, 198);
}

.lang-card:hover {
    transition: 500ms;
    box-shadow: 0 0 10px 1px grey;
}

.card-title {
    font-size: 14px;
}

.icon {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: top;
}

.html {
    background-image: url('/assets/html.png');
}

.css {
    background-image: url('/assets/css-3.png');
}

.javascript {
    background-image: url('/assets/js.png');
}

.bootstrap {
    background-image: url('/assets/bootstrap.png');
}

/*THIRD SECTION*/
.bg-wd {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 1rem;
}
.card-width {
    width: 100%;
}

.card-btn-cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.portfolio-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 300px;
}


.sports-stash-img {
    background-image: url('/assets/port_merchstore.png');
}
.arc-img {
    background-image: url('/assets/port_arc.png');
}
.verb-img {
    background-image: url('/assets/port_verb.png');
}
.finance-tracker-img {
    background-image: url('/assets/port_tracker.png');
}

.btn-st {
    width: 100px;
    background-color: var(--trim-clr);
    color: white;
}   

.btn-st:hover {
    transition: 500ms;
    background-color: var(--btn-hover-clr);
    color: var(--txt-hover-clr);
}

/*FOURTH SECTION*/
.flex-form {
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.form-container {
    padding: 1rem;
    border: 1px solid var(--trim-clr);
    border-radius: 30px;
    background-color: var(--trim-clr);

}

.form-input-container {
    margin: 1rem;
    display: flex;
    justify-items: left;
}

.form-input-container label {
    color: var(--txt-hover-clr);
}

.form-input-text {
    padding: .25rem;
    border: 1px solid var(--trim-clr);
    border-radius: 8px;
    outline: none;
}

.form-textarea {
    padding: .5rem;
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid var(--trim-clr);
    border-radius: 8px;
    outline: none;
}

.btn-form {
    width: 120px;
    background-color: white;
    color: var(--trim-clr);
}   

.btn-form:hover {
    transition: 500ms;
    background-color: var(--txt-hover-clr);
    color: var(--btn-hover-clr);
}

@media screen and (min-width: 500px) {
    .profile-img {
        height: 300px;
        width: 300px;
        background-image: url('/assets/profile.jpg');
        background-size: 300px;
        background-position:top right 30%;
        border-radius: 50%;
        box-shadow: 0 0 20px 1px grey;
    }
}

@media screen and (min-width: 800px) {
    .profile-container {
        flex-direction: row;
    }
    .lang-container {
        display: flex;
        flex-direction: row;
    }
    .form-textarea {
        padding: .5rem;
        width: 500px;
        height: 200px;
        resize: none;
        border: 1px solid var(--trim-clr);
        border-radius: 8px;
        outline: none;
    }
    .icon {
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: top;
    }
}